.DS_Store
.DS_Store?
._*
Thumbs.db
.Trashes
ehthumbs.db
*.log
*.log*
*.swp
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
auth.json
/.idea
/.vscode
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
